<div id="mapHandler">
    <div id="title" class="ui primary button">
        洪湖水质监测系统
    </div>
    <div id="functionlist">
        <ul class="row" style="text-decoration-style:none">
            <li class="btn btn-default">卷帘</li>
            <li class="btn btn-default" >观测点</li>
            <li class="btn btn-default" >统计图表</li>
            <li class="btn btn-default" >插值</li>
            <li class="btn btn-default" >数据统计</li>
        </ul>
    </div>
    <div id=" useinfo">
        <img  src="" alt="" class="img-thumbnail"/>
    </div>
    <div id="map"></div>
</div>